/* Start of Index html */
body {
    font-family: 'Raleway', sans-serif;
    background-color: #000000;
}

.navbar {
    width: 1080px;
    margin: auto;
    background-color: #27445C;
}

#navHeader {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 10px;
}

#mainContent {
    padding-top: 1rem;
    width: 1080px;
    margin: auto;
}

#display-movies {
    /* width: 100%; */
    min-height: 100vh;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

#content {
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

#title{
    margin: 5px 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width: 250px;
}
#posterImage {
    border-radius: 7px;
    height: 350px;
}
#detail {
    width: 40%;
}
/* End of Index html */

/* Start of Detail html */
#info{
    padding-top: 1rem;
    width: 1080px;
    margin: auto;
}
#detailTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
}
#releaseDate {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}
#rating {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 40px;
    padding: 5px;
    background-color: rgb(223, 223, 223);
}
#overview {
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    width: 550px;
    text-align: justify;
    word-spacing: 5px;
}
/* End of Detail html */

/* Modal */
.modal-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 42vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    height: 50%;
    width: 50%;
    text-align: center;
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.show .modal{
    display: block;
}
/* End of Modal */

/* Inside of Modal */

.modal-header {
    border-bottom: none;
}

#modalInner {
    margin: 0 auto;
    width: 60%;
    display: flex;
    padding-top: 6vh;
}

#modalTitle {
    font-weight: bold;
}

#modalRating {
    border-style:solid;
    background-color: gray;
    border-color: transparent;
    margin: auto;
    width: 14%;
    margin-bottom: .5rem;
    color: white;
}

#modalDesc {
    text-align: justify;
    text-justify: inter-word;
}

#modalDate {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#modalImage {
    height: 350px;
    padding-right: 50px;
}

/* End of Inside of Modal */