/* Start of Index html */
body {
    font-family: 'Raleway', sans-serif;
    background-color: #000000;
}

.navbar {
    width: 1080px;
    margin: auto;
    background-color: #27445C;
}

#navHeader {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 10px;
}

#mainContent {
    padding-top: 1rem;
    width: 1080px;
    margin: auto;
}

#display-movies {
    /* width: 100%; */
    min-height: 100vh;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

#content {
    margin: 0 auto;
}

#title{
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width: 250px;
    margin-bottom: 10px;
}
#posterImage {
    border-radius: 7px;
    height: 350px;
}

#posterImage:hover {
    border: 5px solid rgb(119, 119, 119);
}

#detail {
    width: 40%;
}
/* End of Index html */

/* Start of Detail html */
#info{
    padding-top: 1rem;
    width: 1080px;
    margin: auto;
}
#detailTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
}
#releaseDate {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}
#rating {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 40px;
    padding: 5px;
    background-color: rgb(223, 223, 223);
}
#overview {
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    width: 550px;
    text-align: justify;
    word-spacing: 5px;
}
/* End of Detail html */

.modal-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    height: 50%;
    width: 50%;
    text-align: center;
    display: flex;
}

.show .modal{
    display: flex;
}